<h1>{{content.header}}</h1>

<div id="result"></div>

<script type="text/javascript">
    var source = new EventSource("http://localhost:3000/events/getLatestUser");
    source.onmessage = function(e) {
        var jData = angular.fromJson(eval("(" + e.data + ")"))
        document.getElementById("result").innerHTML = jData.firstName;
    };
</script> 